body {
    margin: ;
    min-width: 250px;
  }
* {box-sizing: border-box}

.main {
    background-color: antiquewhite;
}
* p  {
    position: relative;
}
.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
    width: 95%; 
    background-color: #04AA6D;
}

.css {
    width: 95%; 
    background-color: #2196F3;
}

.javaScript {
    width: 50%; 
    background-color: #f44336;
}
.php {
    width: 50%; 
    background-color: #808080;
}
.java {
    width: 50%; 
    background-color: #2196F3;
}
.web_Development {
    width: 80%; 
    background-color: #1a2c176c;
}

.C_sharp {
    width: 50%; 
    background-color: #2196F3;
}
.python_3 {
    width: 50%; 
    background-color: #f44336;
}
.jQuery {
    width: 50%; 
    background-color: #101ff0;
}
.worldPress {
    width: 100%; 
    background-color: #26b40a;
}